.container {
  width: 72%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .card {
    @include clearfix;
    margin: 2.6em 0 0 0;
    position: relative;

    &--timestamp {
      float: left;
      width: 15%;
      text-align: right;
    }

    &--date {
      font-size: .8em;
      margin: 0;
      color: $textgrey;
    }

    &--time {
      font-size: 2.5em;
      margin-top: .1em;
      color: $lightblue;
    }

    &:nth-of-type(even) .card--time {
      color: $darkblue;
    }

    &--timeline {
      float: left;
      width: 10%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 14.5%;
    }

    &--timestop {
      margin: -5px auto 0 auto;
      height: 35px;
      width: 35px;
      background-color: $timestopimg;
      border-radius: 50px;
      border: 7px solid $timestopblue;
      text-align:center;

      &--icon {
        color: #fff;
        margin-top: 6px;
        font-size: 1.5em;
      }

      &--line {
        width: 9px;
        height: 100%;
        margin: 0 auto;
        background-color: $timestopblue;
      }
    }

    &--content {
      float: right;
      width: 75%;
      border-radius: 5px;
      color: #eee;
      background-color: $lightblue;
    }

    &:nth-last-of-type(even) .card--content {
      background-color: $darkblue;
    }

    &--container {
      width: 90%;
      margin: 0 auto;
    }

    &--header {
      width: 100%;
      margin: 1.5em 0 0 0;
      padding: 0 0 .5em 0;
      border-bottom: 2px solid #87CAF0;
      font-size: 1.5rem;
    }

    &--info {
      font-size: 1.05em;
      line-height: 1.5em;
      padding: 0 0 1.5em 0;
    }
  }
}
